header{
    ul{
        margin: .02rem;
        li{
            margin: 0;
            padding: 0;
            input{
                width: 2.52rem;
                height: .29rem;
                border-radius: .05rem;
                border: 0;
            }
        }
    }
}
