#find-header{
    line-height: .44rem;
    text-align: center;
    font-size: .2rem;
    color: #fff;
}
#find-section{
    background: #fff;
    nav{
        height: .35rem;
        width: 100%;
        ul{
            width: 100%;
             @include flexbox();
            li{
                @include flex();
                height: .35rem;
                line-height: .35rem;
                text-align: center;
                font-size: .16rem;
                &.active{
                    color: #fe7575;
                    border-bottom: .02rem solid #fe7575;
                }
            }
        }
    }
    .swiper-slide{
        .last-like{
                margin-bottom: .49rem !important;
            }
        .like-container{
            margin: .1rem 0;
            &>*{
                margin: 0 .1rem;
            }
            
//          height: 100%;
            width: 100%;
           .title{
               .title-right{
                   text-align: right;
               }
               @include flexbox();
               margin: 0 .1rem;
               height: 100%;
               background: 0;
                div{
                    @include flex();
                    &:nth-child(1){
                        text-align: left;
                        @include flexbox();
                        img{
                            margin: .1rem 0;
                            width: .35rem;
                            height: .35rem;
                            display: inline-block;
                        }
                        div{
                            margin: 0 0 0 .1rem;
                            @include flex();
                            p{
                                color: #077b92;
                                font-size: .14rem;
                                line-height: .3rem;
                            }
                            b{
                                color: #898989;
                                font-weight: 100;
                            }
                        }
                    }
                    &:nth-child(2){
                        span{
                            margin: .15rem 0;
                            display: inline-block;
                            width: .56rem;
                            height: .26rem;
                            border: .01rem solid #e46b58;
                            box-sizing: border-box;
                            font-size: .12rem;
                            text-align: center;
                            line-height: .26rem;
                            border-radius: .03rem;
                        }
                    }
                }
           }
           .img-box{
                margin: 0 .1rem;
                img{
                    width: 100%;
                }
            }
            .heart{
                @include flexbox();
                margin: 0 .1rem;
                height: .43rem;
                border-bottom: .01rem solid #333;
                &>*{
                    display: inline-block;
                    text-align: center;
                    line-height: .43rem;
                    width: .44rem; 
                    font-size: .18rem;
                    font-weight: normal;
                }
                p{
                    @include flex();
                    font-size: .14rem;
                    text-align: right;
                    color: #666;
                }
            }
            .p-title{
                margin: 0 .1rem;
                height: .32rem;
                line-height: .4rem;
                font-size: .16rem;
            }
            .pro{
                height: .5rem;
                ul{
                    background: #f7f7f7;
                    height: .5rem;
                    @include flexbox();
                    li{
                        height: .5rem;
                        &:nth-child(1){
                            width: .5rem;
                            img{
                                height: 100%;
                                display: inline-block;
                                width: .5rem;
                            }
                        }
                        &:nth-child(2){
                            @include flex();
                            p{
                                text-align: left;
                            }
                            b{
                                text-align: left;
                                color: red;
                                font-weight: normal;
                            }
                        }
                        &:nth-child(3){
                            background: #dedede;
                            width: .5rem;
                            font-size: .32rem;
                            text-align: center;
                        }
                        &.shopcar{
                            color: #999;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}




