@import "/index.scss";
.last-li{
    height: 2.99rem !important;
}
    header{
//      position: absolute;
//      z-index: 99;
       height: .44rem;
       background: #fe7575; 
       ul{
           @include flexbox();
           @include flex-direction(row);
           li{
              &:nth-child(1),&:nth-child(3){
                  width:.77rem;
                  text-align: center;
                  line-height: .44rem;
                  height: .44rem;
                  font-size: .22rem;
                  color: #fff;
              }
               &:nth-child(2){
                   @include flex();
                   @include flexbox();
                   height: .44rem;
                   @include justify-content(center);
                   @include align-items(center);
                   font-size: .2rem;
                   color: #fff;
               }
           }
       }
    }
    .nav{
        position: fixed;
        display: none;
        height: .35rem;
                background: #f7f7f7;
                z-index: 9999;
                ul{
                    @include flexbox();
                    li{
                        font-size: .16rem;
                        @include flex();
                        @include flexbox();
                        height: .35rem;
                        @include justify-content(center);
                        @include align-items(center);
                        @include box-sizing(border-box);
                    &.active{
                        border-bottom: .02rem solid #ff5e5e;
                        }
                    }
                }
    }
    section{
        width: 100%;
        @include flex();
        background: #f7f7f7 ;
        width: 100% !important;
//      overflow: hidden;
        div{
            #index-swiper{
                @include box-sizing(border-box);
                @include border(1px 0 0 0, #909090);
                height: 1.5rem;
                overflow: hidden;
                img{
                    height: 1.5rem;
                }
            }
            nav{
                height: .35rem;
                background: #f7f7f7;
                ul{
                    @include flexbox();
                    li{
                        font-size: .16rem;
                        @include flex();
                        @include flexbox();
                        height: .35rem;
                        @include justify-content(center);
                        @include align-items(center);
                        @include box-sizing(border-box);
                    &.active{
                        border-bottom: .02rem solid #ff5e5e;
                        }
                    }
                }
            }
            .container{
                .main{
                    height: 100%;
                    .head {
            height: .3rem;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
        }
        .head {
           display: none;
        }
        .head img {
            width: .14rem;
            height: .14rem;
            display: inline-block;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transition: transform 150ms;
            -webkit-transition: transform 150ms;
        }
        .up {
            transform: rotate(360deg) !important;
            -webkit-transform: rotate(360deg) !important;
        }
        .foot {
            height: .49rem;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
        }
        .foot img {
            width: .14rem;
            height: .14rem;
            display: inline-block;
            /*transform: rotate(0deg);*/
            /*-webkit-transform: rotate(0deg);*/
            transition: transform 150ms;
            -webkit-transition: transform 150ms;
        }
        .down {
            transform: rotate(180deg) !important;
            -webkit-transform: rotate(180deg) !important;
        }
                }
                width: 100%;
                ul{
                    width: 100%;
                    li{
                        width: 100%;
                            display: block;
                            height: 2.5rem;
                            p{
                                text-align: center;
                                font-size: .16rem;
                                color: #000;
                                height: .3rem;
                                line-height: .4rem;
                            }
                            b{
                                color: #808080;
                                font-size: .16rem;
                                text-align: center;
                                display: block;
                            }
                    }
                }
            }
        }
       
    }
    
//#container-swiper{
//  position: absolute;
//}


